@charset "UTF-8";

/* CSS Varibles */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 7px 15px rgba(104,104,104, 0.8);
}

.wrapper {
    display:grid;
    gap: 20px;
}

img {
    max-width: 100%;
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: rgb(150, 231, 218);
    margin: 30px 50px;
    line-height: 1.4;
}

.main-nav ul {
    display: grid;
    gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a {
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    border-radius: 17px 0px 17px 0px;
}

.main-nav a:hover {
    background: lightblue;
    color: #696969;
}

header h2:hover{
    background-color: rgba(104,104,104, 0.8);
    color: rgb(54, 169, 204);
}

main h2:hover{
    background-color: fuchsia;
    color:rgb(95, 209, 162)
}

img {
    border-radius: 80%;
}

section.Geo {
    margin-left: auto;
    margin-right: auto;
}

.container {
    position: relative;
    width: 50%;
}